.superchat {
    margin: 15px;
}

.button,
button {
  line-height: 16px;
  padding: 10px 15px;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  color: #000;
  background: white;
  border: none;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: 0 0 1px #999;
}

.button:hover,
button:hover {
  cursor: pointer;
  background: #ddd;
}

.message {
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    background: #f2e2e3;
}

.message-input {
    display: block;
    width: 100%;
    height: 3em;
    margin-bottom: 10px;
}